
/*
 *    BG & META
 */
*{
  font-family: "Raleway", sans-serif;
}
body{
  margin:0px;
  padding:0px;
  background-color: rgb(225, 245, 254);
  width:100%;
  z-index: 0;
}
body section{
  z-index: 1;
}
header.row{
  position:fixed;
  top:0px;
  left:0px;
  margin:0px;
  padding:0px;
  width:100%;
  background-color: rgb(3, 169, 244);
  height:300px;
  z-index: 2;
}


/*
 *    Header and Intro
 */

.img-responsive{
  margin-bottom: 25px;
  margin-top:25px;
  padding-left: 17px;
  padding-right: 17px;
  float: right;
}

h1{
  font-size: 3em;
}
p, td{
  font-size: 1em;
}
p{
  text-align: justify;
  margin-top: 20px;
  margin-bottom: 15px;
}
a.register{
  text-decoration: none;
  background-color: rgb(3, 169, 244);
  -webkit-box-shadow: 0px 4px 5px 1px rgba(66,133,244,0.66);
  -moz-box-shadow: 0px 4px 5px 1px rgba(66,133,244,0.66);
  box-shadow: 0px 4px 5px 1px rgba(66,133,244,0.66);
  color: white;
  margin-right:25px;
  padding:10px;
  display:inline-block;
  width: auto;
  cursor: pointer;
}
a.register:hover{
  text-decoration: none;
}
a.register:active{
  transform: translate(0px,4px);
  -webkit-box-shadow: 0px 0px 5px 1px rgba(66,133,244,0.66);
  -moz-box-shadow: 0px 0px 5px 1px rgba(66,133,244,0.66);
  box-shadow: 0px 0px 5px 1px rgba(66,133,244,0.66);
}
a.register h3{
  margin:0px;
}
a.register.last{
  margin-top: 25px;
  margin-bottom: 50px;
}


/*
 *    BODY
 */
.container{
  width: 90%;
  z-index: 3;
  -webkit-box-shadow: 0px 1px 3px 1px rgba(133,133,133,0.75);
  -moz-box-shadow: 0px 1px 3px 1px rgba(133,133,133,0.75);
  box-shadow: 0px 1px 3px 1px rgba(133,133,133,0.75);
  padding:0px;
  background-color: white;
  position:relative;
  top:100px;
}
.container .row,
.sectionHeader h3{
    padding-left:25px;
    padding-right:25px;
}
.sectionHeader h3{
    font-weight: 700;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right:50px;
    display: inline;
    z-index: 5;
}
.sectionHeader .shape{
  border-top: 50px solid rgb(3, 169, 244);
  border-right: 25px solid transparent;
  width: 180px;
  position: relative;
  top: -40px;
  z-index: -1;
}
.sectionHeader{
  margin-top:75px;
  margin-bottom:-25px;
}

td{
  padding:5px 20px;
  padding-left: 0px;
  border-bottom: 1px solid #ddd;
}
table{
  margin-top: 10px;
  margin-bottom: 40px;
}




/*
 *    SCREEN SETTINGS
 */
 @media screen and (min-width: 720px) {
   h1{
     font-size: 3em;
   }

   p, td{
     font-size: 1em;
   }
   .img-responsive{
     margin-top: 50px;
     margin-bottom: 30px;
     width:200px;
     padding: 10px;
   }
   .container{
     width:70%;
   }
   .container .row,
   .sectionHeader h3{
       padding-left:75px;
       padding-right:75px;
   }
   .sectionHeader .shape{
     width: 225px;
   }
 }
 @media screen and (min-width: 1080px) {
   .container{
     width:50%;
   }
   h1{
     font-size: 3em;
   }

   p, td{
     font-size: 1em;
   }
 }
